.header {
  background-color: $light;
  color: $off-light;
  min-height: 75px;
  border-bottom: 1px solid $primary-light;

  &__logo {
    margin: 10px 0;
  }

  &__language {
    right: 0;
    padding: 5px;
    position: absolute;
    font-size: .8rem;

    a {
      color: $text-light;
    }
  }
}