$parisienne: 'Parisienne', cursive;
$roboto: 'Roboto', sans-serif;
$pacifico: 'Pacifico', cursive;

body {
  font-family: $roboto;
}

h2 {
  color: $text-medium;
  font-size: 2rem;
  font-family: $pacifico;
}

h3 {
  font-size: 1.4rem;
}

.hero-title {
  font-family: $parisienne;
}
